name: build-and-test
on:
  pull_request:
  push:
    branches:
      - main
      - "releases/*"
jobs:
  build-and-test:
    strategy:
      matrix:
        os: [macos-12, macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22

      - uses: engineerd/setup-kind@v0.5.0
        if: matrix.os == 'ubuntu-latest'
        with:
          version: "v0.11.1"

      - name: Kubernetes Testing
        if: matrix.os == 'ubuntu-latest'
        run: |
          kubectl cluster-info
          kubectl get pods -n kube-system
          echo "current-context:" $(kubectl config current-context)
          echo "environment-kubeconfig:" ${KUBECONFIG}

      - name: Unit test
        run: make test
